#about-us .content button{
    border:none;
    border-radius:3px;
    background-color:#222b34;
    color:white;
}
#about-us .content p {
    font-size: 17px;
    text-align: justify;
}
#about-us h3 span{
    font-weight:900;
}
#about-us .news-col h3{
    text-align: center;
}
#about-us .news-col p{
    margin-left:12px;
    margin-bottom:0;
}
#about-us .news-col .tag{
    margin-left:12px;
    margin-bottom:10px;
}
#about-us .news-col .date{
    width:108px;
    height:80px;
    background-color:#464646;
    color:white;
    position: relative;
    margin-bottom:10px;
}

#about-us .news-col .date.date1{
    background-color:#464646;
}
#about-us .news-col .date.date2{
    background-color:#00b0f0;
}
#about-us .news-col .date.date3{
    background-color:#e46c0a;
}
#about-us .news-col .date .month{
    font-size:20px;
    margin-left:10px;
    font-family: "Times New Roman", Times, serif;
    font-weight: bolder;
}
#about-us .news-col .date .day{
    font-size: 70px;
    font-weight: 900;
    position: absolute;
    right: -5px;
    bottom: -28px;
    font-family: "Times New Roman", Times, serif;
}
#facilities{
    background-image: linear-gradient(to bottom, #ffffff, #ffffff);
}
#facilities img{
    /*width: 90px;*/
   /* margin-top:20px;*/
}
#facilities p{
    text-align:left;
}
#facilities button{
    margin:20px 0;
}
#events{
    background-color:#ffffff;
}
#events .col-md-3, #events .col-sm-3{
    padding:0;
}
.hes-gallery img{
    width:100%;
    margin-bottom:10px;
    cursor:pointer;
    transition:opacity 0.3s;
}
.hes-gallery img:hover{
    opacity:0.5;
    transition:opacity 0.3s;
}
.hes-gallery span{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.hes-gallery span{
    opacity:0;
    transition:0.8s;
}
.hes-gallery span i{
    font-size:60px;
}
.hes-gallery .col-md-3:hover > span{
    opacity:1;
}
#documentary{
    background-color:white;
    text-align:center;
    padding-bottom: 30px;
}
#documentary h3{
    font-weight: 900;
    color:#002060;
    margin-top:55px
}
#documentary button{
    margin-top:20px
}
#counters{
    text-align:center;
    background-color:#ffffff;
    padding:40px 0;
}
#counters img{
    width:112px;
}
#counters h2{
    color:red;
}
#query{
    background-color:white;
    padding-bottom: 30px;
}
#query textarea{
    height:100px;
}
#query button{
    padding:5px 20px;
}
#testimonials{
    padding:40px 0;
}
#testimonials h2{
    color:white;
    font-weight:900;
    margin-bottom:40px;
}
#testimonials .testimonial span{
    font-size: 75px;
    color: white;
    line-height: 75px;    
}
#testimonials .testimonial{
    color:white;
}
#testimonials .testimonial .text-center{
    margin-top:20px;
}
#testimonials .testimonial img{
    display:inline;
    width:30px;
    height:30px;
}
.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 100%;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}


.slick-slide {
  transition: all ease-in-out .3s;
  opacity: 1;
}

.slick-active {
  opacity: 1;
}

.slick-current {
  opacity: 1;
}
.slick-dots{
    margin-bottom:-30px;
}
.slick-dots li button{
    opacity:.5;
    background: white;
    border-radius: 50%;
    width:15px;
    height:15px;
}
li.slick-active button {
    opacity:1;
}

#advertisement{
    background-image:url("../img/advertisement.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding:40px 0;
}
#advertisement button.pjs{
    border: none;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
}
#advertisement button.pjs img{
    width:200px;
}
#advertisement button.more-info{
    border: none;
    border-radius: 3px;
    background-color: black;
    color: white;
    margin-top: 35px;
    padding: 5px 10px;
}