html,body{
    overflow-x:hidden;
}
.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}
.row.display-flex > [class*='col-'] {
  display: flex;
  flex-direction: column;
}
@font-face{
	font-family: 'Museo 500';
	src: local('Museo 500.otf'), url('Museo%20500.otf') format('opentype');
}
hr.title-underline{
    margin-top:0;
    border-color:#969696;
}
.bold900{
    font-weight:900;
}
button:focus {outline:0;}
a{
    text-decoration:none;
}
a:hover{
    text-decoration:none;
    color:white;
}
.theme-btn{
    border: none;
    color: white;
    background-color: #222b34;
    border-radius: 3px;
    box-shadow: 2px 2px 3px grey;
}
header{
    background-color:#f5f5f5d9;
    z-index:100;
}
header a{
    color:white;
}
header .social img{
        width:22px;
}
header .top-header {
    padding:10px 0;
    overflow:hidden;
    transition:0.5s;
    background: linear-gradient(to bottom, #3a7cca, #2d5f9c);
}
header hr{
    margin:0;
    height: 1px;
    background-color: #3e464c;
    border: none;
}
header .logo .first-title{
    margin-top:13px;
}
header .logo img{
    margin-left:23px;
    width:110px;
    transition:0.5s;
}
header .logo h3{
    color:#d9d9d9;
    margin-top:0;
    margin-bottom:0;
    font-family:'Museo 500';
    white-space:nowrap;
    transition:0.5s;
}
header .pc-nav{
    list-style-type:none;
    padding:0;
    margin:20px 0;
    margin-top:33px;
    transition:0.5s;
}
header .pc-nav li{
    display:inline;
    position:relative;
}
header .pc-nav li a{
    display:inline-block;
    padding:3px 0;
    margin:0 20px;
    color:black;
    text-decoration: none;
    border-bottom:3px solid transparent;
    transition:0.4s;
    font-weight: 900;
    font-size: 18px;
}
header .pc-nav li a.active{
    color:#f5702b;
    border-bottom:3px solid;
}
header .pc-nav li a:hover{
    color:#f5702b;
    border-bottom:3px solid;
}
header .pc-nav li.submenu ul{
    display:none;
    position:absolute;
    top:25px;
    left:0;
    z-index: 1;
    list-style-type: none;
    padding:0;
    background-color:white;
    text-align: left;
}
header .pc-nav li.submenu ul li a{
    white-space: nowrap;
    display:block;
    font-weight: normal;
}
header .pc-nav li.submenu:hover > ul{
    display:block;
}
header .pc-nav li.subsubmenu ul{
    display:none;
    position:absolute;
    top: 0;
    left: 160px;
    z-index: 1;
    list-style-type: none;
    padding:0;
    background-color:white;
    text-align: left;
}
header .pc-nav li.subsubmenu ul li a{
    white-space: nowrap;
    display:block;
}
header .pc-nav li.subsubmenu:hover > ul{
    display:block;
}
/*mobile begin*/
.menu-btn{
    display: inline-block;
    margin-top: 16px;
    font-size: 18px;
    border: 1px solid black;
    padding: 6px 7px;
    color: black;
}
.mobile-ul{
    list-style-type:none;
    padding:0;
}
.mobile-ul .mobile-li:hover > .mobile-nav{
    display:block;
}
header .mobile-nav{
    display:none;
    list-style-type:none;
    padding:0;
    margin:20px 0;
    margin-top:33px;
    transition:0.5s;
    background-color: black;
    position: fixed;
    left: 20px;
    right: 20px;
    margin-top: 18px;
    z-index:100;
}
header .mobile-nav li{
    display:block;
    position:relative;
    text-align: center;
}
header .mobile-nav li a{
    display:inline-block;
    padding:3px 0;
    margin:0 20px;
    color:white;
    text-decoration: none;
    border-bottom:3px solid transparent;
    transition:0.4s;
    font-weight: 900;
    font-size: 18px;
}
header .mobile-nav li a.active{
    color:#f5702b;
    border-bottom:3px solid;
}
header .mobile-nav li a:hover{
    color:#f5702b;
    border-bottom:3px solid;
}
header .mobile-nav li.submenu ul{
    display:none;
    top:25px;
    z-index: 1;
    list-style-type: none;
    padding:0;
    background-color:#222b34;
    text-align: left;
}
header .mobile-nav li.submenu ul li a{
    white-space: nowrap;
    display:block;
    font-weight: normal;
}
header .mobile-nav li.submenu:hover > ul{
    display:block;
}
header .mobile-nav li.subsubmenu ul{
    display:none;
    z-index: 1;
    list-style-type: none;
    padding:0;
    background-color:#222b34;
    text-align: left;
}
header .mobile-nav li.subsubmenu ul li a{
    white-space: nowrap;
    display:block;
}
header .mobile-nav li.subsubmenu:hover > ul{
    display:block;
}
/*mobile end*/
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.sticky .top-header{
    height:0;
    padding:0;
}
.sticky .logo .first-title{
    margin-top:10px;
}
.sticky .logo h3{
    font-size:20px;
}
.sticky .logo img{
    width:90px;
}
.sticky .pc-nav{
    margin-top:20px;
}
/*.sticky .sticky-hide{*/
/*    display:none;*/
/*}*/
.sticky + section {
  padding-top: 102px;
}
/*mid content*/
#banner{
    background-color:#e1e1e1;
    height:290px;
}
#banner h1{
    margin-top:100px;
    font-size:60px;
}
#banner h1 span{
    font-weight:900;
}

/*mid content ends*/
footer{
    background-color:white;
    color:black;
    padding-top:20px;
}
footer .lower-footer{
    background-color:#171d23;
    padding:10px;
}
footer a{
    color:black;
    text-decoration: none;
}
footer a:hover{
    text-decoration:none;
    color:black;
    
}
footer ul{
    list-style-type: none;
    padding:0;
}
footer ul li a{
    display:block;
    padding: 10px 0;
    transition:0.3s;
}
footer ul li a:hover{
    color:#f9583c;
    border-color:#f9583c;
}
footer h3{
    padding: 10px 0;
}
footer .social img{
        width:22px;
}
footer .view-on-map{
        color: black;
    text-decoration: none;
    border: 2px solid black;
    padding: 5px 40px;
    border-radius: 10px;
}
footer .address{
    margin-top:20px;
    text-align:center;
}
/*designed by*/
.heart {
  background-color: #00a0df;
  display: inline-block;
  height: 10px;
  margin: 0 10px;
  position: relative;
  top: 0;
  transform: rotate(-45deg);
  width: 10px;
  animation: heartbeat 1s infinite;
}

.heart:before,
.heart:after {
  content: "";
  background-color: #00a0df;
  border-radius: 50%;
  height: 10px;
  position: absolute;
  width: 10px;
}

.heart:before {
  top: -6px;
  left: 0;
}

.heart:after {
  left: 5px;
  top: 0;
}
@keyframes heartbeat {
  0% {
    transform: scale( 1 ) rotate(-45deg);    
  }
  20% {
    transform: scale( 1.25 ) 
      translateX(5%) 
      translateY(5%) rotate(-45deg);
  } 
  40% {
    transform: scale( 1.5 ) 
      translateX(9%) 
      translateY(10%) rotate(-45deg);
  }
}
.designed-by{
    background: black;
    color: white;
    padding:10px 0;
}
.designed-by a{
    color:white;
    text-decoration:none;
}
.designed-by .credits{
    float:right;
}
/*designed by end*/